
.ftco-section {

    padding: 2em 0; }

.ftco-no-pt {
    padding-top: 0; }

.ftco-no-pb {
    padding-bottom: 0; }

.heading-section {
    font-size: 28px;
    color: #000; }

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.form-control {
    height: 36px;
    background: rgb(255, 255, 255);
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1); }
.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3) !important; }
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3) !important; }
.form-control:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(0, 0, 0, 0.3) !important; }
.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3) !important; }
.form-control:focus, .form-control:active {
    /* color: white;
    background-color: rgb(227, 178, 87); */
    border-color: orange !important; }

textarea.form-control {
    height: inherit !important; }


/*
  .info-wrap {
    color: rgba(255, 255, 255, 0.8); }
    .info-wrap h3 {
      color: #fff; }
    .info-wrap .dbox {
      width: 100%;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 25px; }
      .info-wrap .dbox:last-child {
        margin-bottom: 0; }
      .info-wrap .dbox p {
        margin-bottom: 0; }
        .info-wrap .dbox p span {
          font-weight: 500;
          color: #fff; }
        .info-wrap .dbox p a {
          color: #fff; }
      .info-wrap .dbox .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.2); }
        .info-wrap .dbox .icon span {
          font-size: 20px;
          color: #fff; }
      .info-wrap .dbox .text {
        width: calc(100% - 50px); } */

.btn-contact {
    padding: 12px 16px;
    margin-top: 20px;
    background-color: orange;
    color: white;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.12);
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.btn-contact:hover {
    background-color: white;
    border: 1px solid orange;
    color: orange;}
/* @media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }
.btn:hover, .btn:active, .btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important; }
.btn.btn-primary {
  background: orange !important;
  border-color: orange !important;
  color: #fff; }
  .btn.btn-primary:hover, .btn.btn-primary:focus {
    border-color: orange !important;
    background: orange !important; } */

.contactForm label {
    color: #000;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;

}



#contactForm .form-control {
    font-size: 16px; }

#message {
    resize: vertical; }

/* #form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: red; }

#form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: bold; } */

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: bold; }

.container-contact{
    border: 1px solid rgb(255, 169, 9);
    border-radius: 10px;
    background-color: rgba(214, 214, 214, 0.46);
    padding: 0;

}
.fuild-left-con{
    padding: 0;
}
.left-con{
    border-right: 2px dotted rgb(202, 196, 192);
    border-radius: 10px;
    background-color: #f7ce5f !important;
}
/*-------------------------------------*/
.modal-content {
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 8px 26px rgba(0,0,0,0.15);
    border: 2px solid #47c9a2;
}

.modal-content:hover {
    box-shadow: 0 15px 40px rgba(0,0,0,0.20);
}

/*h3 {*/
/*    color: #333;*/
/*    font-weight: 600;*/
/*}*/

/*p {*/
/*    color: #666;*/
/*    font-size: 16px;*/
/*}*/

.btn-go-home{
    background-color: #47c9a2;
    color: white;
    border-radius: 15px;
    border: 1px solid #47c9a2;
    border: none;
}


.btn-go-home:hover {
    background-color:white;
    color: #47c9a2;
    border: 1px solid #47c9a2;
}

.modal-content img {
    margin: 10px auto;
}
.link-cancel{
    text-decoration: none;

}
.link-cancel:hover{
    text-decoration: none;
}
 /*transition for the alert in the contact page*/
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    .alert {
        animation: fadeInDown 2.5s ease-out;
    }